.App {
  background-color: inherit;
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-slide-in 1 2.25s cubic-bezier(.63,.16,.40,1.20);
  height: 40vmin;
}

.App-header {
  min-height: calc(85vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
}

.Navigation-header {
  text-align: left;
  padding: calc(10px + 1vmin);
  background-color: #2d3965;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 1px 15px;
}

.Navigation-footer {
  text-align: center;
  padding: calc(10px + 1vmin);
  background-color: #2d3965;
  box-shadow: rgba(0, 0, 0, 0.39) 0px -1px 15px;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

@keyframes App-logo-slide-in {
  from {
    opacity: 0;
    transform: translate(25vw, -100vh);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* correcting for odd whitespace issues with sideNav */
ul {
  padding: 0;
  margin: 0;
}
