.DisplayGraphLine {
  text-align: center;
}

.DisplayGraph-chart {
  height: 500px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.055);
  font-size: calc(5px + 1vmin);
  color: black;
}

/* since nivo hard codes legend colors to be black, this changes it */
text {
  fill:  rgba(255, 255, 255, 0.75) !important;
}