.Display {
    background-color: inherit;
    text-align: center;
    color: white;
}

.Display-chart, .Display-pie {
  height: 500px;
  width: 100vw;
  background-color: rgba(165, 215, 255, 0.055);
  font-size: calc(5px + 1vmin);
  color: black;
}

/* .Display-pie {
  height: 500px;
  width: 100vw;
  background-color: rgba(165, 215, 255, 0.025);
  font-size: calc(5px + 1vmin);
  color: black;
} */

.Chart-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
}

/* since nivo hard codes legend colors to be black, this changes it */
text {
  fill: rgba(255, 255, 255, 0.75) !important;
}

@media only screen and (max-width: 812px) {
  /* For mobile phones: */
  text {
    font-size: calc(5px + 1vmin) !important;
  }
  circle+text {
    fill: rgba(255, 255, 255, 0.0) !important;
  }
  rect+circle+text {
    fill: rgba(255, 255, 255, 0.75) !important;
  }
}


